$colors: (
  'gray': (
    '50': #f4f5f6,
    '100': #ebeeef,
    '200': #e3e6e8,
    '300': #d5dadc,
    '400': #c6cdd0,
    '500': #abb5ba,
    '600': #8f9ca3,
    '700': #73838c,
    '800': #5c6970,
    '900': #454f54,
    '950': #1a1d1f,
  ),
  'teal': (
    '50': #eef6f7,
    '100': #cbe5e6,
    '200': #a9d4d6,
    '300': #86c2c5,
    '400': #64b1b5,
    '500': #4a979b,
    '600': #3a7679,
    '700': #2e5e60,
    '800': #264d4f,
    '900': #1e3c3e,
    '950': #0f1a1b,
  ),
  'green': (
    '50': #eafbf4,
    '100': #ccf5e4,
    '200': #a1edcd,
    '300': #76e5b6,
    '400': #4ddda0,
    '500': #1cd084,
    '600': #15b471,
    '700': #11925c,
    '800': #0d7248,
    '900': #095234,
    '950': #041f15,
  ),
  'yellow': (
    '50': #fffef5,
    '100': #fffce5,
    '200': #fff9cc,
    '300': #fff6b3,
    '400': #fff18a,
    '500': #ffe624,
    '600': #fadd00,
    '700': #dec60c,
    '800': #b8a40a,
    '900': #918108,
    '950': #4a4203,
  ),
  'amber': (
    '50': #fdf7ed,
    '100': #fbeeda,
    '200': #f9e5c7,
    '300': #f6d4a2,
    '400': #f1bf74,
    '500': #ecaa46,
    '600': #e89519,
    '700': #c27d14,
    '800': #9d6510,
    '900': #7d500d,
    '950': #3e2806,
  ),
  'orange': (
    '50': #fff2eb,
    '100': #fee5d7,
    '200': #fed5be,
    '300': #fdb48c,
    '400': #fc945a,
    '500': #fb7429,
    '600': #eb5704,
    '700': #c94a03,
    '800': #a13b02,
    '900': #792c02,
    '950': #3d1601,
  ),
  'red': (
    '50': #fdf1f1,
    '100': #fce4e4,
    '200': #f6b7b7,
    '300': #f08a8a,
    '400': #ea5d5d,
    '500': #e43030,
    '600': #c71a1a,
    '700': #991414,
    '800': #831111,
    '900': #6c0e0e,
    '950': #360707,
  ),
);

:root {
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      @if $shade == 500 {
        --color-#{$color}: #{$value};
      }
      --color-#{$color}-#{$shade}: #{$value};
    }
  }
}

@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    @if $shade == 500 {
      .text-#{$color} {
        color: #{$value} !important;
      }
      .bg-#{$color} {
        background-color: #{$value} !important;
      }
    }
    .text-#{$color}-#{$shade} {
      color: #{$value} !important;
    }
    .bg-#{$color}-#{$shade} {
      background-color: #{$value} !important;
    }
  }
}
