// app global css in SCSS form
@use 'color' as *;
@use 'font' as *;

@media print {
  body *:has(.printable) {
    position: static !important;
    overflow: visible !important;
    visibility: hidden !important;
  }

  .printable {
    position: absolute !important;
    inset: 0 !important;
    &,
    * {
      visibility: visible !important;
      page-break-inside: avoid;
      page-break-after: avoid;
      page-break-before: avoid;
    }
  }
}
